# --- Build Output (Crucial) ---
[Bb]in/
[Oo]bj/

# --- Database---
*.db

# --- IDE & User Specifics ---
# VS Code folder
.vscode/

# Visual Studio / Rider specific
.idea/
.vs/
*.user
*.suo
*.userprefs

# --- OS Generated ---
.DS_Store
Thumbs.db

# --- Logging & Temp ---
*.log